<div class="widget">
  <h2>Общее количество пользователей</h2>
  <ul class="stats-list">
    <li>
      <mat-icon>school</mat-icon>
      <button mat-button routerLink="/admin/students" routerLinkActive="active">
        <strong>Студенты:</strong> {{ stats.students }}
      </button>
      <button class="stat-action" mat-button routerLink="/admin/student" routerLinkActive="active">
        <mat-icon>person_add</mat-icon>
      </button>
    </li>
    <li>
      <mat-icon>groups</mat-icon>
      <button mat-button routerLink="/admin/teachers" routerLinkActive="active">
        <strong>Преподаватели:</strong> {{ stats.teachers }}
      </button>
      <button class="stat-action" mat-button routerLink="/admin/teacher" routerLinkActive="active">
        <mat-icon>person_add</mat-icon>
      </button>
    </li>
    <li>
      <mat-icon>admin_panel_settings</mat-icon>
      <strong>Администраторы:</strong> {{ stats.admins }}
    </li>
  </ul>
</div>
